body {
    margin: 0;
    height: 100vh;
    background-color: #e3e3e3;
    overflow: hidden;
  }

body.competence {

  background-color: #5eb891;
}

body.expe {

  background-color: #222;
}

.topnav{
    overflow: hidden;
    text-align: center;
    background-color: white;
    padding: 30px;
    box-shadow: 5px 5px 5px  #b6b9b6;
  }

  .topnav1{
    overflow: hidden;
    text-align: center;
    background-color: white;
    padding: 30px;
    box-shadow: 5px 5px 5px  #707070;

  }
  
  
  .barre{
  
  color: black;
  text-decoration: none;
  
  font-family: 'Rubik', sans-serif;
  }
  
  .barre:hover {
  
    color: #5eb891;
    border-bottom: solid 2px #5eb891;
  }
  
  .nav {
    padding: 30px;
    text-decoration: none;
    font-size: 17px;
  }

  .gauche {

    float: left;
    font-weight: bold;
  }

  .description{

    height: 100%;
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
  }

  .description2{

  height: 100%;
  font-family: 'Rubik', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  }

.block{
  text-align: left;

}

  .style {
    margin-top: 50px;
  }

  .title-primary{
    font-size: 50px;
    color: black;
    margin-top: 20px;
    text-shadow: #b6b9b6 3px 3px ;
    font-weight: bold;
  }

  .title-primary2{
    font-size: 50px;
    color: white;
    margin-top: 20px;
    text-shadow: #a7dbcd 3px 3px ;
    font-weight: bold;
  }

  .title-primary3{
    font-size: 50px;
    color: #5eb891;
    margin-top: 20px;
    text-shadow: #313c3a 3px 3px ;
    font-weight: bold;
  }
  
  .subtitle{
    font-size: 35px;
    color: black;
    margin-top: 100px;
    margin-bottom: 10px; 
  }

  .subtitle2{
    font-size: 35px;
    color: white;
    margin-top: 100px; 
  }

  .subtitle3{
    font-size: 35px;
    color: white;
    margin-top: 10px; 
  }

  .subtitle4{
    font-size: 35px;
    color:#5eb891;
    margin-top: 10px; 
  }
  .accroche{
    font-size: 28px;
    color:  #5eb891;
    font-weight: bold;
    margin-bottom: 10px; 
  }

  .accroche2{
    font-size: 28px;
    color:  white;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .text{
    width: 50%;
    text-align: center;
    font-size: 25px;
    color: black;
    margin-top: 20px; 
  }

  .text1{
    
    text-align: justify;
    font-size: 25px;
    color: white;
    margin-top: 100px; 
  }

  .text-bloc{
    width: 50%;
    text-align: justify;
    color: black;
    margin-top: 30px; 
    font-size: 25px;
  }

  .space{

    margin-top: 10px;
  }
  
  img {

    position: absolute;
    width: 15%;
    left: 8%;
  }

  .image1{

    position: absolute;
    top: 250px;
    left: 480px;
    width: 12%;


  }

  .logo-loc {

    position: absolute;
    left: 45.5%;
    color :#5eb891;
  }

  .flex{
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }

  .logo-shop{

    
    color: whitesmoke;
    position: absolute;
    left: 23.5%;
    top:35.5%;
  }

  .logo-shop2{

    
    color: whitesmoke;
    position: absolute;
    left: 23.5%;
    top:70.5%;
  }



.contenu {
  height:35%;
  width: 50%;  
}

.bloc1 {
  float:left;
  width: 500px;
  height:50%;
  margin-right:50px;
  
}

.bloc2 {
    
    width: 500px;
    height:50%;
    margin-left:550px;
}

.link {
  margin-top: 10px;
  
}

.btn1 {

background-color:  #5eb891;
border-radius: 5px;
border: none;
padding: 10px;
cursor: pointer;
font-family: 'Rubik', sans-serif;

}

.btn:hover {
  background-color:  #313c3a; /* Green */
  color: white;
}

body.contact{
  margin: 0;
  padding: 0;
  background: url(../images/fond.jpeg) center;
  background-size: cover;
}

.contact-form{
  width: 85%;
  max-width: 600px;
  background: #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  font-family: 'Rubik', sans-serif;
  
}
.contact-form h1{
  margin-top: 0;
  font-weight: 200;
}
.txtb{
  border:1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}
.txtb label{
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}
.txtb input,.txtb textarea{
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}
.btn{
  display: inline-block;
  background:#5eb891;
  padding: 14px 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
}

.middle {
  text-align: center;
}


/*------------------------------------------------------------------------------------*/

.jsp{
  margin-top: 50px;
}


  .container2{
    position: relative;
    display: flex;
    justify-content: space-around;
  }

  .card {

    margin-left: 30px;
  }

  .container2 .card {
    position: relative;
    width: 250px;
    background: linear-gradient(0deg,white,#b6b9b6,white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;

  }

  .container2 .card:hover {

    transform: translate(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 5);
  }

  .container2 .card:before {

    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,white,#b6b9b6,white);
    pointer-events: none;
    z-index: 1;
  }

svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

svg circle {

width: 100%;
height: 100%;
fill: none;
stroke: white;
stroke-width: 10;
stroke-linecap: round;
transform: translate(5px,5px);
}

svg circle:nth-child(2)
{

  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2)
{ 
  stroke-dashoffset: 30;
  stroke: #00ff43;
}

.card:nth-child(2) svg circle:nth-child(2)
{
  stroke-dashoffset: 60;
  stroke: #00a1ff;
}

.card:nth-child(3) svg circle:nth-child(2)
{
  stroke-dashoffset: 250;
  stroke: #ff04f3;
}

.percent{

  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  background: white;
  z-index: 1000;
}

.percent .number {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.percent .number h2 {
  color: #707070;
  font-weight: 700;
  font-size: 30px;
  transition: 0.5s;
}

.card:hover .percent .number h2 {
  color: black;
  font-size: 40px;
}

.percent .number h2 span {

  font-size: 24px;
  color: #707070;
  transition: 0.5s;
}

.card:hover .percent .number h2 span {
  color: black;
}

.text2{
  position: relative;
  color: black;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}

.card:hover .text2 {

  color: #222;
}

.couleur {
  background-color: white;
  border-radius: 10px;
  width: 4%;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 50%;

  }
  
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
 
.lien {

color: #222;
padding: 5px;
font-size: 30px ;
}

.lien:hover {

font-size: 40px;
transition: 0.5s;
color: #5eb891;
transition: 0.5s ease-in-out;

}