body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: #e3e3e3;
  }

.topnav{
    overflow: hidden;
    text-align: center;
    background-color: white;
    padding: 30px;
  }
  
  a{
  
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
  }
  
  a:hover {
  
    color: #5eb891;
    border-bottom: solid 2px #5eb891;
  }
  
  .nav {
    padding: 30px;
    text-decoration: none;
    font-size: 17px;
  }

  .gauche {

    float: left;
  }