@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body.home {
margin: 0;
height: 100vh;
}

body#mention {
  margin: 0;
  padding: 0;
}

nav{
overflow: hidden;
position: fixed;
width: 100%;
top: 0;
left: 0;
padding: 30px;
transition: 1s;
z-index: 1500;

}

div#mention nav {
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 30px;
  transition: 1s;
  z-index: 1500;
  background-color: #b6b9b6;
  }
  

div#mention .barre{

    color: white;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}


nav.black {
  background-color:white;
  box-shadow: 5px 5px 5px  #707070;
}

nav.black a{
 
  color: #000;

}


.barre{

color: white;
text-decoration: none;
font-family: 'Rubik', sans-serif;
}

.barre:hover {

color: #5eb891;
border-bottom: solid 2px #5eb891;
}

.deco {
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}


.gauche{
margin-left: 50px;
font-weight: bold;
}

.block-container {
display: flex;
}

.block {
padding: 32px;
height: 100vh;
}

.block-red {
width: 40%;
background-image: url("../images/laptop2.jpeg");
background-size: cover;
}

.block-blue {
width: 60%;
background: rgb(29,29,29);
background: linear-gradient(90deg, rgba(29,29,29,1) 0%, rgba(89,92,91,1) 50%, rgba(35,35,36,1) 100%);
}


.container{
height: 100%;
font-family: 'Rubik', sans-serif;
display: flex;
align-items: flex-end;
justify-content: center;
flex-direction: column;
margin-right: 50px;
}

div#mention .container{
  font-family: 'Rubik', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;  
  margin-top: 100px;
  
  }

.title-primary{
font-size: 100px;
color: white;
}

.subtitle{
font-size: 100px;
color: #5eb891;
}

div#mention .title-primary{
  font-size: 25px;
  color: black;
  }

div#mention .subtitle{
  font-size: 30px;
  color: #5eb891;
  }
  

.text{
font-size: 40px;
color: white;
}



#home .couleur {
  
text-align: center;
width: 10%;
position: relative;
left: 60%;
}


#home .wrapper {
position: fixed;
width: 3%;
text-align: center;
border-radius: 10px;
background-color: #8d8d8b;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin-top: 200px;
}

#home .lien {
color: whitesmoke;
padding: 5px;
font-size: 30px ;
}

#home .lien:hover {
font-size: 40px;
transition: 0.5s;
color: #B561BB;
transition: 0.5s ease-in-out;
}

div#apropos.description {
font-family: 'Rubik', sans-serif;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
height: 100vh;
background-color: #e3e3e3;
overflow: hidden;
}

div#apropos .title-primary {
font-size: 50px;
color: black;
margin-top: 20px;
text-shadow: #b6b9b6 3px 3px ;
font-weight: bold;
}

div#apropos .subtitle {
font-size: 35px;
color: black;
margin-top: 100px;
margin-bottom: 10px; 
}

div#apropos .accroche {
font-size: 28px;
color:  #5eb891;
font-weight: bold;
margin-bottom: 10px; 
}


div#apropos .text {
width: 50%;
text-align: center;
font-size: 25px;
color: black;
margin-top: 20px; 
}

div#apropos img {
position: absolute;
width: 15%;
left: 8%;
}

div#competences {
background-color: #5eb891;
height: 100vh;


}

div#competences .description {

font-family: 'Rubik', sans-serif;
display: flex;
align-items: center;
flex-direction: column;

}

div#competences .title-primary {
font-size: 50px;
color: white;
margin-top: 20px;
text-shadow: #a7dbcd 3px 3px ;
font-weight: bold;
margin-top: 100px;
}

div#competences .subtitle {
font-size: 35px;
color: white;
margin-top: 100px; 
}

div#competences .accroche {
font-size: 28px;
color:  white;
font-weight: bold;
margin-top: 10px;
}

div#competences .top {
margin-top: 50px;
}

div#competences .container {
display: flex;
align-items: center;
flex-direction: row

}

div#competences .card {
margin-left: 30px;
}

div#competences .container .card {

position: relative;
width: 250px;
background: linear-gradient(0deg,white,#b6b9b6,white);
display: flex;
justify-content: center;
align-items: center;
height: 300px;
border-radius: 10px;
text-align: center;
overflow: hidden;
transition: 0.5s;
}

div#competences .container .card:hover {

transform: translate(-10px);
box-shadow: 0 15px 35px rgba(0, 0, 0, 5);
}

div#competences .container .card:before {

content: '';
position: absolute;
top: 0;
left: -50%;
width: 100%;
height: 100%;
background: linear-gradient(0deg,white,#b6b9b6,white);
pointer-events: none;
z-index: 1;
}

div#competences svg {
position: relative;
width: 150px;
height: 150px;
z-index: 1000;
}

div#competences svg circle {

width: 100%;
height: 100%;
fill: none;
stroke: white;
stroke-width: 10;
stroke-linecap: round;
transform: translate(5px,5px);
}

div#competences svg circle:nth-child(2)
{

stroke-dasharray: 440;
stroke-dashoffset: 440;
}

div#competences .card:nth-child(1) svg circle:nth-child(2)
{ 
stroke-dashoffset: 30;
stroke: #00ff43;
}

div#competences .card:nth-child(2) svg circle:nth-child(2)
{
stroke-dashoffset: 60;
stroke: #00a1ff;
}

div#competences .card:nth-child(3) svg circle:nth-child(2)
{
stroke-dashoffset: 250;
stroke: #ff04f3;
}

div#competences .percent{

position: relative;
width: 150px;
height: 150px;
border-radius: 50%;
box-shadow: inset 0 0 50px #000;
background: white;
z-index: 1000;
}

div#competences .percent .number {
position: absolute;
top: 0;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
}

div#competences .percent .number h2 {
color: #707070;
font-weight: 700;
font-size: 30px;
transition: 0.5s;
}

div#competences .card:hover .percent .number h2 {
color: black;
font-size: 40px;
}

div#competences .percent .number h2 span {

font-size: 24px;
color: #707070;
transition: 0.5s;
}

div#competences .card:hover .percent .number h2 span {
color: black;
}

div#competences .text{
position: relative;
color: black;
margin-top: 20px;
font-weight: 700;
font-size: 18px;
letter-spacing: 1px;
text-transform: uppercase;
transition: 0.5s;
}

div#competences .card:hover .text {

color: #222;
}


div#experience {

background-color: #222;
height: 100vh;
overflow: hidden;
margin: 0;
}


div#experience .description{
height: 100%;
font-family: 'Rubik', sans-serif;
display: flex;
align-items: center;
flex-direction: column;

}

div#experience .title-primary{
font-size: 50px;
color: #5eb891;
margin-top: 20px;
text-shadow: #313c3a 3px 3px ;
font-weight: bold;
margin-top: 100px;
}

div#experience .subtitle{
font-size: 35px;
color: white;
margin-top: 30px;
}

div#experience .contenu{
height:40%;
width: 50%; 
}


div#experience .bloc1 {
float:left;
width: 500px;
height:50%;
margin-right:50px;

}

div#experience .bloc2 {

width: 500px;
height:50%;
margin-left:550px;
}

div#experience .link {
margin-top: 10px;

}

div#experience .btn {

background-color:  #5eb891;
border-radius: 5px;
border: none;
padding: 10px;
cursor: pointer;
font-family: 'Rubik', sans-serif;

}

div#experience .btn:hover {
background-color:  #313c3a; /* Green */
color: white;
}

div#experience .type4 {
font-size: 35px;
color:#5eb891;
margin-top: 10px; 
}

div#experience .type3 {
font-size: 35px;
color: white;
margin-top: 10px; 
}

div#experience .type2 {
font-size: 35px;
color: white;
margin-top: 100px; 
}

div#experience .logo-shop{


color: whitesmoke;
position: absolute;
top : 341%;
left : 20%;
font-size: 35px;
}

div#experience .logo-shop2{
    color: whitesmoke;
    position: absolute;
    font-size: 35px;
    top: 377%;
    left: 20%
}

div#experience .text{
    text-align: justify;
    font-size: 25px;
    color: white;
    margin-top: 100px; 
}

div#formation {
    height: 100vh;
    background-color:  #e3e3e3;
}

div#formation .description{
    height: 100%;
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div#formation .title-primary{
    font-size: 50px;
    color: black;
    margin-top: 20px;
    text-shadow: #b6b9b6 3px 3px ;
    font-weight: bold;
    margin-top: 100px;
}

div#formation .block{
    text-align: left;
    
}

 .image1{
    
    
  position: absolute;
  width: 13%;
  left: 25%;
  top: 432%;
    
}

div#formation .logo-loc {
    
    color :#5eb891;
    position: absolute;
    left: 46%;
}

div#formation .text-bloc{
    width: 50%;
    text-align: justify;
    color: black;
    margin-top: 30px; 
    font-size: 25px;
}

div#formation .subtitle{
    font-size: 35px;
    color: black;
    margin-top: 100px;
    margin-bottom: 10px; 
}

div#formation .accroche{
    font-size: 28px;
    color:  #5eb891;
    font-weight: bold;
    margin-bottom: 10px; 
}

div#contact{
    height: 100vh;
    background: url(../images/fond.jpeg) center;
    background-size: cover;
    
  }
  
div#contact .contact-form{
    width: 85%;
    max-width: 600px;
    background: #f1f1f1;
    position: absolute;
    top: 550%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;
    font-family: 'Rubik', sans-serif;
    
}
div#contact .contact-form h1{
    margin-top: 0;
    font-weight: 200;
  }
div#contact .txtb{
    border:1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
  }
div#contact  .txtb label{
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
  }
  div#contact .txtb input,.txtb textarea{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
  }
  div#contact .btn{
    display: inline-block;
    background:#5eb891;
    padding: 14px 0;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
  }
  
  div#contact  .middle {
    text-align: center;
  }

  div#foot .footer{
  
    display: flex;
    justify-content: center;
    padding: 100px;
    background-color: #222;
    color: #fff;
  }

  div#foot .footer {

    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
  }

  div#foot .bold {

    font-weight: bold;
    text-decoration: underline;
    color: white;
  }

  div#foot .bold:hover{

    font-weight: bold;
    text-decoration: underline;
    color: #5eb891;
    font-size: 18px;
    transition: 0.8s;
  }

  #menu.cus-nav {
    background: #262626;
  }

  #menu.cus-nav a{
    color : white;
  }

  .left{

    text-align: left;
  }

  .moitier {


    width: 50%;
  }

  .styles {

border-radius: 25px;
border : 1px white 10px;
background-color:#5eb891;
text-decoration: none;
color : black;
padding: 15px;
  }

  .styles:hover {
    color: white;
    font-size: 18px;
    transition: 0.5s;
  }

  .btnhome {

    position: absolute;
    right: 2%;
    bottom: 100%;
    border-radius: 30px;
    background-color: wheat;
    color: black;
  }

  .clh {


text-decoration: none;
background-color: wheat;
border-radius: 50px;
color: black;
padding: 15px;
position: fixed;
right: 2%;
bottom: 2%;

  }

  .clh:hover {

    font-size: 1.5em;
    transition: 0.5s;
  }

  #topBtn{
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 22px;
    width: 50px;
    height: 50px;
    background: #8d8d8b;
    color: white;
    border: none;
    cursor: pointer;
    display: none;
  }
  
.bthome {

  background-color:#8d8d8b ;
  border-radius: 35px;
  color:white ;
  position: absolute;
  bottom: 2%;
  right: 2%;
  padding: 10px;
}

.bthome:hover {

  font-size: 1.5em;
  transition: 0.8s;

}